services:
  devcontainer:
    build:
      context: .
      dockerfile: Dockerfile
      target: ${BUILD_TARGET} 
    image: sec26:${BUILD_TARGET}
    environment:
      # Pass the DISPLAY variable from the .env file into the container
      - DISPLAY=${DISPLAY_CONFIG}
      - QT_X11_NO_MITSHM=1
      - ARDUINO_DIRECTORIES_USER=/home/ubuntu/.arduino15
      - PLATFORMIO_CORE_DIR=/home/ubuntu/.platformio
    volumes:
      # --- Source Code (Synced with Host) ---
      - ./ros2_ws:/home/ubuntu/ros2_workspaces/src/sec26ros:delegated
      # Ensure ROS2 workspace-level VS Code settings land at /home/ubuntu/ros2_workspaces/.vscode
      - ./ros2_ws/.vscode:/home/ubuntu/ros2_workspaces/.vscode:delegated
      - ./mcu_ws:/home/ubuntu/mcu_workspaces/sec26mcu:delegated
      - ./scripts:/home/ubuntu/scripts

      # --- Build Artifacts (Persisted in Docker, kept off Host) ---
      # This prevents "root" owned files appearing on your laptop 
      # and speeds up IO on Windows/Mac
      - ros2_build:/home/ubuntu/ros2_workspaces/build
      - ros2_install:/home/ubuntu/ros2_workspaces/install
      - ros2_log:/home/ubuntu/ros2_workspaces/log
      - platformio_cache:/home/ubuntu/.platformio
      - mcu_build_artifacts:/home/ubuntu/mcu_workspaces/sec26mcu/.pio
      - mcu_lib_external:/home/ubuntu/mcu_workspaces/sec26mcu/libs_external

      # --- System / Hardware ---
      - /dev:/dev
      - /sys:/sys
      - /tmp/.X11-unix:/tmp/.X11-unix
    # This uses the network mode from the .env file (either 'host' for Linux or 'bridge' for Win/Mac)
    network_mode: ${NETWORK_MODE_CONFIG}
    privileged: true
    # Keep the container running
    command: sleep infinity
    depends_on:
      init-bootstrap:
        condition: service_completed_successfully

  # One-shot init to chown all volumes and seed libs_external once
  init-bootstrap:
    image: debian:stable-slim
    user: root
    volumes:
      - ros2_build:/ros2_build
      - ros2_install:/ros2_install
      - ros2_log:/ros2_log
      - platformio_cache:/platformio_cache
      - mcu_build_artifacts:/mcu_build_artifacts
      - mcu_lib_external:/mcu_lib_external
      - ./mcu_ws/libs_external:/seed:ro
      - ./scripts:/scripts:ro
    entrypoint: ["/bin/sh","-ec"]
    command: sh /scripts/init_bootstrap.sh
    restart: "no"


# Create biuld artifact volumes
volumes:
  ros2_build:
  ros2_install:
  ros2_log:
  platformio_cache:
  mcu_build_artifacts:
  mcu_lib_external:
