<?xml version="1.0"?>
<model>
  <name>proper_field</name>
  <version>1.0</version>
  <sdf version="1.6">proper_field_model.sdf</sdf>
  <author>
    <name>Deoxon</name>
    <email>user@email.com</email>
  </author>
  <description>
    Proper (Full) Field World from STP/OBJ.
  </description>
</model>
