ekf_map_node:
  ros__parameters:
    frequency: 10.0
    two_d_mode: false
    publish_tf: true

    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: map # <-- KEY DIFFERENCE!!! Operating in map frame

    # --- Encoder odometry (same source as odom-frame EKF) ---
    odom0: /odom/unfiltered

    # fuse vx, vyaw only (let UWB handle absolute position)
    odom0_config:    [false, false, false,
                      false, false, false,
                      true,  false, false,
                      false, false, true,
                      false, false, false]

    odom0_differential: false
    odom0_relative: false

    # --- IMU (same source as odom-frame EKF) ---
    imu0: /mcu_robot/imu/data

    imu0_config:     [false, false, false,
                      false, false, true,
                      false, false, false,
                      false, false, true,
                      false, false, false]

    imu0_differential: false
    imu0_relative: false

    # --- UWB absolute position (map frame) ---
    pose0: /uwb/pose/robot

    # x, y, z from UWB trilateration
    pose0_config:    [true,  true,  false,
                      false, false, false,
                      false, false, false,
                      false, false, false,
                      false, false, false]

    pose0_differential: false
    # reject UWB outliers beyond 2m from current estimate
    pose0_rejection_threshold: 99.0
